
h1 {
    margin-top: 50px;
    text-align: center;
    color: #000000;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 300px; 
    margin-right: 5px; 
}


td {
    border: 1px solid #130101;
    text-align: left;
    padding: 8px;
    text-align: center;

}

th {
    background-color: #e289b7;
    border: 1px solid #130101;
 

}


input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    
}

button {
    padding: 10px 20px;
    background-color: #e289b7;;
    color: white;
    border: none;
    cursor: pointer;
    
}

button:hover {
    background-color:  #dd9bba;
    top: 70px; 
}






button[type="submit"]:hover {
    background-color:  #dd9bba;
    
}
input[type="text"] {
    position: absolute;
    left: 300px;
    top: 70px; /* Modificado el valor de top a 40px */
    padding: 10px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    
}


button[type="submit"] {
    background-color: #e289b7;
    position: absolute;
    left: 610px;
    top: 21px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    top: 70px; 
}


