{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Registro</title>
</head>

<body>
    <div class="registro-container">
        <img src="{% static 'images/superior.png' %}" class="l" alt="superior">
        <br>
        <div class="registro-box">
            <h1>Registro</h1>
            <form method="post" action="{% url 'registro' %}">
                {% csrf_token %}
                <div>
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="email">Correo electrónico:</label>
                    <input type="text" id="email" name="email">
                    <select name="email_domain" id="email_domain" onchange="completeEmail()" class="C">
                        <option value="">Selecciona un dominio</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="hotmail.com">hotmail.com</option>
                    </select>
                </div>
                <br><br>
                <label for="password1">Contraseña:</label>
                <input type="password" id="password1" name="password1" required>
                <span id="toggle-password" class="fa fa-eye-slash"></span> <!-- Icono del ojo -->
                <div id="password-validation" style="color: red;"></div>
                <br><br>
                <label for="password2">Confirmar contraseña:</label>
                <input type="password" id="password2" name="password2" required class="fixed-input">
                <span id="toggle-confirm-password" class="fa fa-eye-slash toggle-password-icon"></span>
                <div id="confirm-password-validation" style="color: red;"></div>
                <br><br>


                <button type="submit" id="registro-button" disabled>Registrarse</button>
            </form>
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión </a></p>
        </div>
    </div>
    <script>
        function completeEmail() {
            var email = document.getElementById("email");
            var emailDomain = document.getElementById("email_domain").value;
            var parts = email.value.split('@');
            var username = parts[0]
            email.value = username + "@" + emailDomain;
        }
        document.getElementById("password1").addEventListener("input", validarContraseña);
        document.getElementById("password2").addEventListener("input", validarContraseña);

        function validarContraseña() {
            var contraseña1 = document.getElementById("password1").value;
            var contraseña2 = document.getElementById("password2").value;
            var mensajeValidación = document.getElementById("password-validation");
            var mensajeCoincidencia = document.getElementById("password-match");
            var botonRegistro = document.getElementById("registro-button");

            var tieneMayuscula = /[A-Z]/.test(contraseña1);
            var tieneNumero = /\d/.test(contraseña1);
            var tieneAsterisco = /\*/.test(contraseña1);

            if (tieneMayuscula && tieneNumero && tieneAsterisco) {
                mensajeValidación.textContent = "Contraseña válida.";
                mensajeValidación.style.color = "green";
            } else {
                mensajeValidación.textContent = "La contraseña debe contener al menos una letra mayúscula, un número y un asterisco (*).";
                mensajeValidación.style.color = "black";
            }

            if (contraseña1 !== contraseña2) {
                mensajeCoincidencia.textContent = "Las contraseñas no coinciden.";
                mensajeCoincidencia.style.color = "red";
                botonRegistro.disabled = true;
            } else {
                mensajeCoincidencia.textContent = "";
                mensajeCoincidencia.style.color = "red";
                if (tieneMayuscula && tieneNumero && tieneAsterisco) {
                    botonRegistro.disabled = false;
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const passwordInput = document.getElementById('password1');
            const togglePassword = document.getElementById('toggle-password');

            togglePassword.addEventListener('click', function () {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                // Cambia la clase del ícono del ojo para alternar entre ver y ocultar
                if (type === 'password') {
                    togglePassword.classList.remove('fa-eye');
                    togglePassword.classList.add('fa-eye-slash');
                } else {
                    togglePassword.classList.remove('fa-eye-slash');
                    togglePassword.classList.add('fa-eye');
                }
            });
        });

        // Script para el ícono del ojo en el campo "Confirmar contraseña"
        document.addEventListener('DOMContentLoaded', function () {
            const confirmPasswordInput = document.getElementById('password2');
            const toggleConfirmPassword = document.getElementById('toggle-confirm-password');

            toggleConfirmPassword.addEventListener('click', function () {
                const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                confirmPasswordInput.setAttribute('type', type);

                // Cambia la clase del ícono del ojo para alternar entre ver y ocultar
                if (type === 'password') {
                    toggleConfirmPassword.classList.remove('fa-eye');
                    toggleConfirmPassword.classList.add('fa-eye-slash');
                } else {
                    toggleConfirmPassword.classList.remove('fa-eye-slash');
                    toggleConfirmPassword.classList.add('fa-eye');
                }
            });
        });
    </script>
</body>

</html>