{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la búsqueda</title>
    <link rel="stylesheet" href="{% static 'css/buscado.css' %}">
    <!-- Agrega el enlace al archivo JavaScript de SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% include 'index.html' %}
    <style>
        #tablaProductos {
            width: 100%; /* Establece el ancho en 100% para ocupar todo el espacio disponible */
            transition: width 0.3s; /* Mantén la transición para un efecto suave */
        }
    </style>
    <h1>Resultados de la búsqueda</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Codigo de barras</th>
            <th>Precio</th>
            <th>Cantidad en el inventario</th>
            <th>Categoria de productos</th>
        </tr>
        {% for producto in resultados %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.codigo_barras}}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.cantidad_inventario}}</td>
                <td>{{ producto.tipo }}</td>
            
            </tr> 
            
        {% endfor %}
    </table>
<script>
    const tablaProductos = document.getElementById('tablaProductos');
    const contenidoTabla = document.getElementById('contenidoTabla');
    const mostrarNavegacion = document.getElementById('mostrarNavegacion');
    const navegacion = document.getElementById('navegador');

    navegacion.style.width = '150px';
    tablaProductos.style.width = '90%';

    mostrarNavegacion.addEventListener('click', function (event) {
        event.preventDefault();

        if (navegacion.style.width === '150px') {
            navegacion.style.width = '0';
            tablaProductos.style.width = '100%';
            tablaProductos.classList.remove('tabla-navegacion-abierta');
            contenidoTabla.classList.remove('tabla-navegacion-abierta');
        } else {
            navegacion.style.width = '150px';
            tablaProductos.style.width = 'calc(100% - 150px)';
            tablaProductos.classList.add('tabla-navegacion-abierta');
            contenidoTabla.classList.add('tabla-navegacion-abierta');
        }
    });
</script>
</body>
</html>