{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Listar Productos</title>
    <link rel="stylesheet" href="{% static 'css/buscador.css' %}">
    <!-- Agrega el enlace al archivo JavaScript de SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% include 'index.html' %}
    <h1>Listado de Productos</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Inven</th>
            <th>Categoria</th>
            <th>Detalles</th>
        </tr>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.cantidad_inventario }}</td>
                <td>{{ producto.tipo.nombre }}</td>
                <td><a href="{% url 'detalle_producto' producto.id %}">Ver detalles</a></td>
            </tr>
        {% endfor %}
    </table>

    <div id="formularioBusqueda">
        <form action="{% url 'buscar_productos' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar Productos">
            <button type="submit">Buscar</button>
        </form>
    </div>
    

    <script>
        function eliminarProducto(event) {
            event.preventDefault();
            
            Swal.fire({
                title: '¿Estás seguro de que deseas eliminar este producto?',
                showCancelButton: true,
                confirmButtonText: 'Sí, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('eliminarForm').submit();
                }
            });
        }
    </script>
</body>
</html>
{% endblock content %}
