{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Listar Productos</title>
    <link rel="stylesheet" href="{% static 'css/buscador.css' %}">
    <!-- Agrega el enlace al archivo JavaScript de SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    {% include 'index.html' %}
    <style>
        #tablaProductos {
            width: 100%; /* Establece el ancho en 100% para ocupar todo el espacio disponible */
            transition: width 0.3s; /* Mantén la transición para un efecto suave */
        }
    </style>
    
    <h1>Listado de Productos</h1>   

    <table id="tablaProductos">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Inven</th>
            <th>Categoria</th>
            <th>Detalles</th>
        </tr>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.cantidad_inventario }}</td>
                <td>{{ producto.tipo.nombre }}</td>
                <td><a href="{% url 'detalle_producto' producto.id_producto %}">Ver detalles</a></td>
            </tr>
        {% endfor %}
    </table>

    <div id="formularioBusqueda">
        <form action="{% url 'buscar_productos' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar Productos">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <script>
        function eliminarProducto(event) {
            event.preventDefault();

            Swal.fire({
                title: '¿Estás seguro de que deseas eliminar este producto?',
                showCancelButton: true,
                confirmButtonText: 'Sí, Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('eliminarForm').submit();
                }
            });
        }
        const tablaProductos = document.getElementById('tablaProductos');
        const contenidoTabla = document.getElementById('contenidoTabla');
        const mostrarNavegacion = document.getElementById('mostrarNavegacion');
        const navegacion = document.getElementById('navegador');
        
        navegacion.style.width = '150px';
        tablaProductos.style.width = '90%';
        
        mostrarNavegacion.addEventListener('click', function (event) {
            event.preventDefault();
        
            if (navegacion.style.width === '150px') {
                navegacion.style.width = '0';
                tablaProductos.style.width = '100%';
                tablaProductos.classList.remove('tabla-navegacion-abierta');
                contenidoTabla.classList.remove('tabla-navegacion-abierta');
            } else {
                navegacion.style.width = '150px';
                tablaProductos.style.width = 'calc(100% - 150px)'; 
                tablaProductos.classList.add('tabla-navegacion-abierta');
                contenidoTabla.classList.add('tabla-navegacion-abierta');
            }
        });

    </script>
</body>

</html>
{% endblock content %}